.products {
  max-width: 90%;
  margin-left: 5%;
  padding: 1%;
  border-radius: 0.5%;
  box-shadow: 2px 2px 2px 2px #9ea8e4;
  cursor: pointer;
}

.mypagination {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: white;
}
